.container {
  padding: 0 24px;
}

.details {
  margin: 4px;
}

.bold-details {
  font-weight: bold;
  margin: 4px;
}

.user-details summary {
  font-weight: bold;
  cursor: pointer;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
  margin: 10px 0;
}

.user-details summary:hover {
  background-color: #e2e2e2;
}

.contest-details {
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: #f4f4f4;
  margin-left: 15px;
  margin-bottom: 10px;
}

.user-details[open] summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #e0e7ff;
}

.loading {
  font-size: 1.5em;
  color: #555;
  text-align: center;
  padding: 2rem;
}
